body {
    text-align: center;
}

.content {
    margin: 10px auto;
    width: 1300px;
}

#left {
    float: left;
    width: 630px;
    text-align: left;
}

#right {
    float: right;
    width: 630px;
    text-align: left;
}

#hocon {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    resize: vertical;
    min-height: 350px;
    white-space: pre;
}

.code {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    overflow: auto;
    width: 100%;
}

.clear {
    clear : both;
}

.footer {
    text-align : center;
}
